@font-face {
  font-family: "ZenKakuGothicNew";
  src: url("font/ZenKakuGothicNew-Regular.ttf") format("trueType");
}

:root {
  --color-bg: #212121;
  --color-surface: #2f2f2f;
  --color-text: #ececec;
  --color-text-muted: #a0a0a0;
  --color-primary: #10a37f;
  --color-link: #66b3ff;
  --color-border: #444444;

  --color-correct: #1597d0;
  --color-incorrect: #ef5350;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  scrollbar-width: none;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;

  min-width: 500px;

  background: var(--color-bg);
  color: var(--color-text);
  font-family: "ZenKakuGothicNew", sans-serif;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
textarea,
button {
  color: inherit;
  font: inherit;
}

[x-cloak] {
  display: none !important;
}

/*  */

main,
.shortcut-bar {
  width: min(calc(100% - 64px), 800px);
}

main {
  flex: 1;
  min-height: 0;
  padding-block: 64px;
}

/*------------------------------ shortcut-bar ------------------------------*/

.shortcut-bar {
  display: flex;
  gap: 8px;

  height: 28px;
  margin-block: 16px;

  color: var(--color-text-muted);
  font-size: 0.9rem;
}

.shortcut-item {
  display: flex;
  gap: 5px;
  align-items: center;

  padding-block: 1px 3px;
  padding-inline: 8px;

  background: var(--color-surface);
  border-radius: 5px;
}

.shortcut-item kbd {
  font-family: inherit;
}

.shortcut-item span {
  font-size: 0.8rem;
}

/*------------------------------ popup ------------------------------*/

.popup {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgb(from var(--color-bg) r g b / 70%);

  z-index: 100;
}

.popup__box {
  display: flex;
  flex-direction: column;

  width: 360px;

  background: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: 8px;

  box-shadow:
    0 8px 24px rgb(0 0 0 / 12%),
    0 2px 6px rgb(0 0 0 / 8%);
}

.popup__header {
  display: flex;
  align-items: center;

  padding-block: 9px 10px;
  padding-inline: 16px 14px;

  border-bottom: solid 1px var(--color-border);
}

.popup__title {
  flex: 1;
  font-size: 0.9rem;
}

.popup__closure {
  width: 25px;
  height: 25px;

  padding-bottom: 3px;
  padding-right: 1px;

  background: none;
  border: none;

  color: var(--color-text-muted);

  cursor: pointer;
  transition: all 0.1s;
}

.popup__closure:hover {
  color: var(--color-text);
}

.popup__content {
  padding-block: 16px 10px;
  padding-inline: 16px;

  font-size: 0.9rem;
}

.popup__menu {
  display: flex;
  gap: 8px;
  justify-content: right;

  padding-block: 10px 16px;
  padding-inline: 16px;
}

.popup__menu button {
  padding-block: 2px 4px;
  padding-inline: 16px;

  background: none;
  border: solid 1px var(--color-border);
  border-radius: 5px;

  font-size: 0.9rem;

  cursor: pointer;
}

.popup__menu .button--primary {
  background: var(--color-primary);
  border-color: var(--color-primary);
}
