@font-face {
  font-family: "ZenKakuGothicNew";
  src: url("../font/ZenKakuGothicNew-Regular.ttf") format("trueType");
}

:root {
  --color-bg: #212121;
  --color-surface: #2f2f2f;
  --color-text: #ececec;
  --color-text-muted: #a0a0a0;
  --color-primary: #10a37f;
  --color-link: #66b3ff;
  --color-border: #444444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  scrollbar-width: none;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;

  min-width: 500px;

  background: var(--color-bg);
  color: var(--color-text);
  font-family: "ZenKakuGothicNew", sans-serif;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
textarea,
button {
  color: inherit;
  font: inherit;
}

[x-cloak] {
  display: none !important;
}

/*  */

main,
.shortcut-bar {
  width: min(calc(100% - 64px), 800px);
}

main {
  flex: 1;
  min-height: 0;
  padding-block: 64px;
}

.shortcut-bar {
  display: flex;
  gap: 8px;

  padding-block: 16px;

  color: var(--color-text-muted);
  font-size: 0.9rem;
}

.shortcut-item {
  display: flex;
  gap: 5px;
  align-items: center;

  padding-block: 1px 3px;
  padding-inline: 5px;

  background: var(--color-surface);
  border-radius: 5px;
}

.shortcut-item kbd {
  font-family: inherit;
}

.shortcut-item span {
  font-size: 0.8rem;
}
