main {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

/*------------------------------ header ------------------------------*/

.header {
  display: flex;
  justify-content: right;
}

.create-category {
  display: flex;
  gap: 5px;
  align-items: center;

  padding-block: 3px;
  padding-inline: 16px;

  background: var(--color-primary);
  border: none;
  border-radius: 6px;

  font-weight: bold;

  cursor: pointer;
}

.create-category span {
  padding-bottom: 2px;
}

/*------------------------------ categories ------------------------------*/

.categories {
  display: flex;
  gap: 12px;
  flex-direction: column;

  overflow-y: scroll;
  scrollbar-width: none;
}

.categories__message {
  margin-top: 16px;
  color: var(--color-text-secondary);
  font-size: 0.9rem;
  text-align: center;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 50px;
  padding-block: 10px;
  padding-inline: 18px;

  background: var(--color-surface);
  border-radius: 8px;
}

.category__name {
  padding-bottom: 2px;
}

.category__menu {
  opacity: 0;
  display: flex;
  gap: 4px;
  height: 100%;
  transition: all 0.1s;
}

.category:hover .category__menu {
  opacity: 1;
}

.category__menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1 / 1;
  height: 100%;

  background: none;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.category__menu-button svg {
  stroke: var(--color-text-muted);
  transition: all 0.1s;
}

.category__menu-button:hover svg {
  stroke: var(--color-text);
  filter: drop-shadow(0 2px 3px var(--color-surface));
}

/*------------------------------ popup ------------------------------*/

.popup__input {
  width: 100%;
  padding-block: 4px 6px;
  padding-inline: 10px;

  background: none;
  border: solid 1px var(--color-border);
  border-radius: 5px;
  outline: none;
}
