main {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

main section {
  padding-block: 8px;
}

/*------------------------------ category-control ------------------------------*/

.category-control {
  display: flex;
  gap: 10px;
  border-radius: 8px;
}

.category-control__selector {
  flex: 1;
  position: relative;
}

.category-control__current {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding-block: 6px 8px;
  padding-inline: 16px;

  background: none;
  border: solid 1px var(--color-border);
  border-radius: 5px;

  font-size: 0.9rem;
  text-align: left;
  cursor: pointer;
}

.category-control__current.is-open {
  border-radius: 5px 5px 0 0;
}

.category-name:empty::after {
  content: "No category";
  color: var(--color-text-muted);
}

.caret-down {
  aspect-ratio: 1 / 1;
  position: relative;
}

.caret-down::after {
  content: "";

  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);

  width: 6px;
  height: 6px;

  border-right: solid 2px var(--color-text-muted);
  border-bottom: solid 2px var(--color-text-muted);

  transition: all 0.1s;
}

.category-control__current:hover .caret-down::after {
  border-color: var(--color-text);
}

.category-control__dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  background: var(--color-bg);
  border: solid 1px var(--color-border);
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0px 8px rgb(0 0 0 / 12%);

  overflow: hidden;
  z-index: 10;
}

.dropdown__label {
  padding-block: 5px;
  padding-inline: 16px;
  border-bottom: solid 1px var(--color-border);
  font-size: 0.8rem;
}

.dropdown__options {
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.dropdown__options div {
  position: relative;
  padding-block: 6px 8px;
  padding-inline: 40px 16px;
  border-top: solid 1px var(--color-border);
  font-size: 0.8rem;
  cursor: pointer;
}

.dropdown__options div:first-child {
  border: none;
}

.dropdown__options div:hover {
  background: var(--color-surface);
}

.dropdown__options div.current {
  background: var(--color-surface);
}

.dropdown__options div.current::before {
  content: "";

  position: absolute;
  top: calc(50% - 1.5px);
  left: 22px;
  transform: translateY(-50%) rotate(45deg);

  width: 4px;
  height: 8px;

  border-right: solid 2px var(--color-text);
  border-bottom: solid 2px var(--color-text);
}

.category-control__setting {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: solid 1px var(--color-border);
  border-radius: 5px;

  cursor: pointer;
}

.setting-svg {
  fill: var(--color-text-muted);
  transition: all 0.1s;
}

.category-control__setting:hover .setting-svg {
  fill: var(--color-text);
}

/*------------------------------ study-settings ------------------------------*/

.study-settings {
  padding-inline: 16px;
  padding-block: 8px 10px;

  border: solid 1px var(--color-border);
  border-radius: 8px;
}

.study-settings__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.study-settings__item {
  display: flex;
  font-size: 0.9rem;
}

.study-settings__label {
  flex: 0 0 max(30%, 5rem);
  color: var(--color-primary);
}

.study-settings__options label {
  display: inline-block;
  position: relative;
  width: 80px;
  padding-left: 20px;
  color: var(--color-text-muted);
  cursor: pointer;
}

.study-settings__options label::before {
  content: "";

  position: absolute;
  top: calc(50% + 1px);
  left: 0;
  transform: translateY(-50%);

  width: 12px;
  height: 12px;

  border: solid 1px var(--color-border);
  border-radius: 3px;
}

.study-settings__options label::after {
  content: "";
  display: none;

  position: absolute;
  top: calc(50% - 1px);
  left: 4px;
  transform: translateY(-50%) rotate(45deg);

  width: 4px;
  height: 8px;

  border-bottom: solid 2px var(--color-text);
  border-right: solid 2px var(--color-text);
}

.study-settings__options label:has(input:checked) {
  color: var(--color-text);
}

.study-settings__options label:has(input:checked)::before {
  border-color: var(--color-text);
}

.study-settings__options label:has(input:checked)::after {
  display: block;
}

.study-settings__options label input {
  display: none;
}
