main {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

main section {
  padding-block: 8px;
}

/*------------------------------ category-selector ------------------------------*/

.category-selector {
  display: flex;
  gap: 10px;
  border-radius: 8px;
}

.category-selector__current {
  flex: 1;
  display: flex;
  justify-content: space-between;

  padding-block: 6px 8px;
  padding-inline: 16px;

  background: none;
  border: solid 1px var(--color-border);
  border-radius: 5px;

  text-align: left;
  cursor: pointer;
}

.category-name:empty::after {
  content: "No category";
  color: var(--color-text-muted);
}

.caret-down {
  aspect-ratio: 1 / 1;
  position: relative;
}

.caret-down::after {
  content: "";

  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);

  width: 6px;
  height: 6px;

  border-right: solid 2px var(--color-text-muted);
  border-bottom: solid 2px var(--color-text-muted);

  transition: all 0.1s;
}

.category-selector__current:hover .caret-down::after {
  border-color: var(--color-text);
}

.category-selector__setting {
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: solid 1px var(--color-border);
  border-radius: 5px;

  cursor: pointer;
}

.setting-svg {
  fill: var(--color-text-muted);
  transition: all 0.1s;
}

.category-selector__setting:hover .setting-svg {
  fill: var(--color-text);
}

/*------------------------------ study-settings ------------------------------*/

.study-settings {
  padding-inline: 16px;
  padding-block: 8px 10px;

  border: solid 1px var(--color-border);
  border-radius: 8px;
}

.study-settings__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.study-settings__item {
  display: flex;
  font-size: 0.9rem;
}

.study-settings__label {
  flex: 0 0 max(30%, 5rem);
  color: var(--color-primary);
}

.study-settings__options label {
  display: inline-block;
  position: relative;
  width: 80px;
  padding-left: 20px;
  color: var(--color-text-muted);
  cursor: pointer;
}

.study-settings__options label::before {
  content: "";

  position: absolute;
  top: calc(50% + 1px);
  left: 0;
  transform: translateY(-50%);

  width: 12px;
  height: 12px;

  border: solid 1px var(--color-border);
  border-radius: 3px;
}

.study-settings__options label::after {
  content: "";
  display: none;

  position: absolute;
  top: calc(50% - 1px);
  left: 4px;
  transform: translateY(-50%) rotate(45deg);

  width: 4px;
  height: 8px;

  border-bottom: solid 2px var(--color-text);
  border-right: solid 2px var(--color-text);
}

.study-settings__options label:has(input:checked) {
  color: var(--color-text);
}

.study-settings__options label:has(input:checked)::before {
  border-color: var(--color-text);
}

.study-settings__options label:has(input:checked)::after {
  display: block;
}

.study-settings__options label input {
  display: none;
}
