main {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

/*------------------------------ study-header ------------------------------*/

.study-header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.study-header__subject-name {
  font-size: 0.8rem;
}

.study-header__info {
  text-align: center;
}

.study-header__menu {
  text-align: right;
}

/*------------------------------ study-question ------------------------------*/

.study-question {
  height: 300px;
  padding-block: 12px;
  padding-inline: 16px;

  border: solid 1px var(--color-border);
  border-radius: 8px;

  overflow-y: scroll;
  scrollbar-width: none;
}

/*------------------------------ study-answer ------------------------------*/
